#define DEVICE_ID "TTNDEVICEID" // eui-abc123abc
#define GPRS_APN "APN"
#define GPRS_USER ""
#define GPRS_PASSWORD ""
#define DEVICE_EUI "TTNDEVICEEUI"
#define APP_EUI "TTNAPPEUI"
#define APP_KEY "TTNAPPKEY"